@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #35394a;
    overflow-x: hidden;
    font-family: "Poppins" ;
    color: white;
    font-size: 20px;
}
.container-seach-locacoes{
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    align-items: center;
}
.list-itens-loc{
    color: black;
}

.find-loc{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.excluir-bnt:hover{
    background-color: red;
    border-color: rgb(255, 255, 255);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.2);
}

.finalizar-bnt:hover{
    background-color: green;
    border-color: rgb(255, 255, 255);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.2);
}
.manu-bnt{
    color: white;
}
.manu-bnt:hover{
    color: white;
    
}

.div-bnt-veih{
    background-color: greenyellow;
    width: 80%;
    margin-left: 10%;
    flex-direction: row;
    justify-content: space-between;
    
}
.justify-content-md-end4{
    margin-top: 20px;
    width: 100%;
    display: inline;
    justify-content:space-around;
    
}

.hist-car-log{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 15px;
}

.final-space{
    height: 3vh;
}