@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #22212b;
    color: white;
    font-weight: 500;
    display: flex;
}
main{
    margin: 0 auto;

}
main h1 {
    margin-top: 9rem;
    color: #7a2bab;
    font-size: 3rem;
    margin-bottom: 2rem;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label{
    display: flex;
    flex-direction: column;
}
main form label span{
    font-size: 1.2rem;
    margin-top: 1.6rem;
}

main form input{
    background: #1d202e;
    width: 250px;
    height: 40px;
    padding: 0 1rem;
    margin-top: 1rem;
    color: mintcream;
    font-size: 1rem;
    border: 2px solid #091324;
    border-radius: 4px;
}

main form input[type="submit"]{
    cursor: pointer;
    width: 30%;
    margin-top: 2rem;
    border-radius: 12px;
    background: #864fe3;
    color: #58545c;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #5b32a1;
    color: #1d202e;
}