
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VcAluga</title>
    <link rel="stylesheet" href="/css/styleHome.css">
</head>
<body>
    <main>

        <div id="menuPrincipal">
            <h1>teste da home</h1>

            <button th:onclick="|window.location.href='register'|">Registrar Cliente</button>
            <button onclick="listClient()">Clientes Ativos</button>
#criar uma view que redireciona para a página de registro
        </div>
        <div id="cliente-container"></div>
    <script src="/js/clienteList.js"></script>
    </main>
</body>
</html>