<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="viewport" content="width=device-width" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/locacaoStyle.css">

    <title>Locação</title>




</head>
<body>
    
    <header>
            <!--Barra superior da página-->
        <nav>

   
                 <!-- logo hamburguer-->
            <div class="mobile-menu"> 
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
                <!--Imagem do menu-->
            <div class="container-fluid">
              <img src="/static/img/vcAluga.png" class="rounded-circle">
            </div>
            <!--Lista do menu lateral-->
            <div class="list-group nav-list">
                <a href="http://localhost:8080/buscarVeiculo" class="list-group-item list-group-item-action list-group-item-secondary">Localizar Veículo</a>
                <a href="http://localhost:8080/buscarCliente" class="list-group-item list-group-item-action list-group-item-secondary">Consultar Cliente</a>
                <a href="http://localhost:8080/buscarMotorista" class="list-group-item list-group-item-action list-group-item-secondary">Consultar Motorista</a>
                <a href="http://localhost:8080/cadastrarFuncionario" class="list-group-item list-group-item-action list-group-item-secondary">Registrar Funcionário</a>
                <a href="http://localhost:8080/buscarFuncionario" class="list-group-item list-group-item-action list-group-item-secondary">Pesquisar Funcionário</a>
                <a href="http://localhost:8080/cadastrarFilial" class="list-group-item list-group-item-action list-group-item-secondary">Nova Filial</a>
            </div>
        </nav>
    </header>


                <!--Nova Locação-->
                <form>
                <div class="container-locacao-register">
                    <h1>Nova Locação</h1>
                    

                      <!--Container do Cliente-->
                      <div class="cliente">

                                <div class="mb-3">
                                  <label for="exampleFormControlInput1" class="form-label">Nome do Cliente</label>
                                  <input type="email" class="form-control"  >
                                </div>

                                <div class="mb-3">
                                  <label for="exampleFormControlInput1" class="form-label">CPF ou CNPJ</label>
                                  <input type="email" class="form-control"  >
                                </div>

                                <div class="mb-3">
                                  <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                                  <input type="email" class="form-control"  >
                                </div>
                      </div>


                        <!--Container do Motorista-->
                      <div class="motorista">

                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Nome do Motorista</label>
                          <input type="email" class="form-control"  >
                        </div>

                        <div class="lado_lado">
                          <div class="mb-3 left-cpf">
                            <label for="exampleFormControlInput1" class="form-label">CPF</label>
                            <input type="email" class="form-control"  >
                          </div>
                          <div class="mb-3 right-cnh">
                            <label for="exampleFormControlInput1" class="form-label">CNH</label>
                            <input type="email" class="form-control"  >
                          </div>

                        </div>

                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Data de Nascimento</label>
                          <input type="date" class="form-control"  >
                        
                        </div>

                    </div>
                    <!--      -->



                      <!-- Carousel  Imagens veículos-->
                      <div id="carouselSite" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselSite" data-slide-to="1"></li>
                            <li data-target="#carouselSite" data-slide-to="2"></li>
                        </ol>
                    
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/img/veiculos/hatch.png" class="img-fluid d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                  <p>HATCH</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/veiculos/sedan.png" class="img-fluid d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                  <p>SEDAN</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/veiculos/suv.png" class="img-fluid d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                  <p>SUV</p>
                                </div>
                            </div>
                        </div>
                    
                        <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </div>
                    
                    <script>
                      $(document).ready(function () {
                          // Inicialize o carrossel manualmente
                          $('#carouselSite').carousel({
                              interval: false  // Configura o intervalo como falso para desabilitar o deslizamento automático
                          });
                  
                          // Controle manual de avançar e retroceder
                          $('.carousel-control-next').click(function () {
                              $('#carouselSite').carousel('next');
                          });
                  
                          $('.carousel-control-prev').click(function () {
                              $('#carouselSite').carousel('prev');
                          });
                  
                          // Capturar evento de mudança de slide
                          $('#carouselSite').on('slid.bs.carousel', function () {
                              var activeSlide = $(this).find('.carousel-item.active .carousel-caption p').text();
                              
                              // Aqui, você pode usar a variável 'activeSlide' para identificar qual imagem está atualmente ativa.
                              console.log(activeSlide);
                              
                              // Você pode enviar 'activeSlide' para a sua API ou fazer qualquer outra coisa que desejar.
                          });
                      });
                  </script>

                  <div class="d-grid gap-2 d-md-flex justify-content-md-end3">
                    <button type="button" class="btn btn-warning" data-element="#return-objects-ocult">Verificar Disponibilidade</button>
                  </div>
                  <script>
                          $(function() {
                          $(".btn-warning").click(function(e) {
                            e.preventDefault();
                            el = $(this).data('element');
                            $(el).toggle();
                          });
                        });
                  </script>


                  <div class="return-objects" id="return-objects-ocult" style="display: none;">

                    <ul class="list-group">
                      <li class="list-group-item">
                        <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                        <label class="form-check-label" for="firstRadio">adicionar elemento aqui dentro</label>
                      </li>
                    </ul>

                  </div>





                 
                    <div class="date-entre">
                      <div class="mb-3 left-retirada">
                        <label for="exampleFormControlInput1" class="form-label">RETIRADA</label>
                        <input type="date" class="form-control"  >
                      </div>
                      <div class="mb-3 right-devolucao">
                        <label for="exampleFormControlInput1" class="form-label">DEVOLUÇÃO</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" >
                      </div>

                    </div>



                    <div class="date-entre">


                              <div class="mb-3 left-valor">
                                <label for="exampleFormControlInput1" class="form-label">VALOR</label>
                                <div class="card">
                                  <div class="card-body">
                                    R$ 650,00 exz
                                  </div>
                                </div>
                              </div>
                              

                              <div class="mb-3 right-pay">
                                <fieldset class="row mb-3">
                                  <legend class="col-form-label col-sm-2 pt-01">Forma de Pagamento</legend>
                                  <div class="col-sm-10">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                      <label class="form-check-label" for="gridRadios1">Crédito</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                      <label class="form-check-label" for="gridRadios2">Débito</label>
                                    </div>
                              
                                    </div>
                                </fieldset>
                              </div>


                                <div class="form-check check-contract-div">
                                  <label class="form-check-label check-contract-label" for="flexCheckDefault">
                                    Termos de Contrato e serviço assinados pelo cliente
                                  </label>
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  
                                </div>
                                
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end4">
                                  <button onclick="home()" type="button"class="btn btn-danger" style=" width:150px;" href="#" >Voltar</button>
                                  <button type="submit" class="btn btn-success">Finalizar Locação</button>
                                  
                                </div>
                
                                <div class="final-space">
                
                                </div>


                      </div>

                    </div>
                
                    
              

                </div>

                

              </form>

    
      

      

    <script src="/static/js/home.js"></script>
</body>
</html>